.box {
    width: 96px;
    height: 48px;
    background-color: #fff;
    border: 4px solid pink;
    text-align: center;
    box-sizing: border-box;
    padding: 8px;
}

.container {
    background-color: skyblue;
    padding: 16px;
    display: flex;
    height: 100px;
    flex-flow: column wrap;
    /* 아래와 동일
		flex-direction: column;
		flex-wrap: wrap;
	*/
}
